---
import { getCollection } from "astro:content";

import Page from "../../layouts/Page.astro";

import Post from "../../components/Post.astro";
import BaseHead from "../../components/BaseHead.astro";
import Link from "../../components/Link.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title="Gabriel Moreno - Blog" description="My latest thoughts" />
  </head>
  <body>
    <Page>
      <header>
        <h1>My Blog</h1>
        <h2>A peek into my latest thoughts</h2>
      </header>
      <section>
        <h3>Experiences, lessons & more</h3>
        <p>
          I've played with the idea of starting to write my thoughts and
          experiences in some sort of blog, this is where I'll compile most of
          the important things I've learned and experienced during my whole
          coding journey. Feel free to look around!
        </p>
        {posts.map((post) => <Post {...post} />)}
        <p>
          Want to know more about me? Check out my <Link href="/">main</Link>
           page.
        </p>
      </section>
    </Page>
  </body>
</html>
