---
import { getCollection } from "astro:content";

import Page from "../../layouts/Page.astro";

import Post from "../../components/Post.astro";
import BaseHead from "../../components/BaseHead.astro";
import ImageHeader from "../../components/ImageHeader.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title="Gabriel Moreno - Blog" description="My latest thoughts" />
  </head>
  <body>
    <Page>
      <ImageHeader
        title="Blog"
        subtitle="My latest thoughts"
        image="/assets/img/avatar-typing.webp"
      />
      <section>
        <h3>Experiences, lessons & more</h3>
        <p>
          I've played with the idea of starting to write my thoughts and
          experiences in some sort of blog, this is where I'll compile most of
          the important things I've learned and experienced during my whole
          coding journey. Feel free to look around!
        </p>
      </section>
      {
        posts.length ? (
          posts.map((post) => <Post {...post} />)
        ) : (
          <p>Whoops! No post matches your search.</p>
        )
      }
    </Page>
  </body>
</html>
