---
import Page from "../layouts/Page.astro";

import Link from "../components/Link.astro";
import BaseHead from "../components/BaseHead.astro";
import AvatarBall from "../components/AvatarBall.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title="Gabriel Moreno - Whoops!"
      description="The page you're trying to access could not be found."
    />
    <style>
      .center {
        margin: var(--spacing-maximum) 0px;
        text-align: center;
      }

      .center .ball {
        display: inline-block;
        margin: 0px auto;
      }

      .avatar {
        width: 300px;
        height: 300px;
        margin: var(--spacing-major) auto;
      }
    </style>
  </head>
  <body>
    <Page>
      <div class="center">
        <div class="ball">
          <AvatarBall src="/assets/img/avatar-sad.webp" />
        </div>
        <h1>Whoops!</h1>
        <p>
          The page you're trying to access could not be found, but you can go to
          the <Link href="/">main website</Link> instead.
        </p>
      </div>
    </Page>
  </body>
</html>
