---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"img"> & {
  inline?: boolean;
};

const { src, inline = false, ...rest } = Astro.props;
const site = Astro.site;
---

<style
  define:vars={{
    src: `url(${site + (src ?? "")})`,
    marginBottom: inline ? 0 : "var(--spacing-minor)",
  }}
>
  .image-wrapper {
    position: relative;
    display: flex;
    margin-bottom: var(--marginBottom);
  }

  .image-wrapper::before {
    z-index: -1;
    content: "";
    position: absolute;
    bottom: calc(0px - var(--spacing-micro));
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: var(--src);
    opacity: 0.5;
    border-radius: calc(var(--border-radius) * 6);
    filter: blur(var(--blur-factor));
  }
</style>

<div class="image-wrapper">
  <img src={src} {...rest} />
</div>
