---
type Props = {
  items: {
    name: string;
    link: string;
  }[];
};

const { items } = Astro.props;
const lastItem = items[items.length - 1];
---

<style>
  a {
    display: inline;
    color: var(--disabled-foreground);
    text-decoration: none;
  }

  a:hover {
    color: var(--foreground);
    text-decoration: underline;
    text-decoration-thickness: from-font;
    text-decoration-color: var(--disabled-foreground);
  }

  .active {
    color: var(--foreground);
    font-weight: bold;
  }

  .breadcrumb {
    margin-bottom: var(--spacing-minor);
  }

  .separator {
    color: var(--disabled-foreground);
    margin: 0px var(--spacing-nano);
    user-select: none;
  }
</style>

<p class="breadcrumb">
  {
    items.map((item, i) => {
      const isLast = i === items.length - 1;

      if (isLast) return null;

      return (
        <><a href={item.link}>{item.name}</a><!-- --><span class="separator">{"›"}</span></>
      );
    })
  }{" "}<span class="active">{lastItem.name}</span>
</p>
