---
const props = Astro.props;
---

<style>
  a {
    text-decoration: none;
    cursor: pointer;
  }

  a:hover h2::after {
    content: "⛓";
    color: var(--disabled-foreground);
  }
</style>

<a href={`#${props.id}`}>
  <h2 {...props}>
    <slot />
  </h2>
</a>
