---
import Icon from "./Icon.astro";

const props = Astro.props;
---

<style>
  a {
    font-size: inherit;
    display: inline-block;
    align-self: center;
  }

  .icon {
    color: var(--disabled-foreground);
    height: var(--font-size-heading-2);
    opacity: 0;
  }

  h2:hover .icon {
    opacity: 1;
  }
</style>

<h2 {...props}>
  <slot />
  <a href={`#${props.id}`}> <Icon class="icon" name="link" /></a>
</h2>
