---
import Icon from "./Icon.astro";
const props = Astro.props;
---

<style>
  a {
    text-decoration: none;
    cursor: pointer;
  }

  .icon {
    color: var(--disabled-foreground);
    height: var(--font-size-heading-2);
    opacity: 0;
  }

  h2:hover .icon {
    opacity: 1;
  }
</style>

<a href={`#${props.id}`}>
  <h2 {...props}>
    <slot />
    <Icon class="icon" name="link" />
  </h2>
</a>
