---
const props = Astro.props;
---

<style>
  a {
    font-size: 1em;
    display: none;
    color: var(--disabled-foreground);
    text-decoration: none;
    user-select: none;
    margin-left: 0.5ch;
  }

  h2:hover a {
    display: initial;
  }
</style>

<h2 {...props}>
  <slot /><!----><a href={`#${props.id}`}>⛓</a>
</h2>
