---
import AvatarBall from "./AvatarBall.astro";

import { PAGE_EMOJIS } from "../constants";

type Props = {
  page: string;
  title: string;
  subtitle: string;
  image: string;
};

const { page, title, subtitle, image } = Astro.props;
---

<style>
  .header {
    display: flex;
    flex-direction: column;
  }

  .header h2 {
    color: var(--disabled-foreground);
    margin-bottom: 0;
  }
</style>

<header class="header">
  <AvatarBall src={image} emoji={PAGE_EMOJIS[page]} />
  <h1>{title}</h1>
  <h2>{subtitle}</h2>
</header>
