---
import { Image } from '@astrojs/image/components'

type Props = {
  title: string;
  subtitle: string;
  image: string;
};

const { title, subtitle, image } = Astro.props;
---

<style>
  .header {
    display: flex;
    align-items: center;
  }

  .header .text {
    width: 75%;
  }

  .header .text h2 {
    color: var(--disabled-foreground);
    margin-bottom: 0;
  }

  .header img {
    margin-bottom: 0;
    width: 128px;
    border-radius: 0px;
    height: fit-content;
    object-fit: cover;
  }

  @media screen and (max-width: calc(550px + 2rem)) {
    .header {
      width: 100%;
      flex-direction: column-reverse;
      align-items: baseline;
    }

    .header img {
      margin-bottom: var(--spacing-minor);
    }
  }
</style>

<header class="header">
  <div class="text">
    <h1>{title}</h1>
    <h2>{subtitle}</h2>
  </div>
  <Image src={image} width={128} height={170} aspectRatio={1} alt="Image" />
</header>
