---
type Props = {
  title: string;
  subtitle: string;
  image: string;
};

const { title, subtitle, image } = Astro.props;
---

<style>
  .header {
    display: flex;
    align-items: center;
  }

  .header .text {
    width: 75%;
  }

  .header .text h2 {
    color: var(--disabled-foreground);
    margin-bottom: 0;
  }

  .header img {
    margin-bottom: 0;
    width: 192px;
    height: 192px;
    height: fit-content;
  }

  @media screen and (max-width: calc(550px + 2rem)) {
    .header {
      width: 100%;
      flex-direction: column-reverse;
      align-items: baseline;
    }

    .header img {
      margin-bottom: var(--spacing-minor);
    }

    /* .header .text {
      text-align: center;
    } */
  }
</style>

<header class="header">
  <div class="text">
    <h1>{title}</h1>
    <h2>{subtitle}</h2>
  </div>
  <img src={image} width="192" height="192" alt="Image" />
</header>
