---
import AvatarBall from "./AvatarBall.astro";
type Props = {
  title: string;
  subtitle: string;
  image: string;
};

const { title, subtitle, image } = Astro.props;
---

<style>
  .header {
    display: flex;
    flex-direction: column;
  }

  .header h2 {
    color: var(--disabled-foreground);
    margin-bottom: 0;
  }
</style>

<header class="header">
  <AvatarBall src={image} />
  <h1>{title}</h1>
  <h2>{subtitle}</h2>
</header>
