---
import type { HTMLAttributes } from "astro/types";

import Icon from "./Icon.astro";

type Props = HTMLAttributes<"a">;

const props = Astro.props;
---

<style>
  a {
    text-decoration: none;
    gap: 1px;
  }

  .underline {
    text-decoration: underline;
    text-decoration-thickness: from-font;
    font-size: 1em;
  }
</style>

<a {...props}>
  <span class="underline">
    <slot />
  </span>
  <Icon name={props.target === "_blank" ? "arrow-outward" : "arrow-forward"} />
</a>
