---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const props = Astro.props;
---

<style>
  a {
    text-decoration: none;
  }

  .underline {
    text-decoration: underline;
    text-decoration-thickness: from-font;
    font-size: 1em;
  }

  .icon {
    user-select: none;
    transform: translateY(1px) scale(0.9);
    margin: 0px 1px;
  }
</style>

<a {...props}>
  <span class="underline">
    <slot />
  </span>
  <span class="icon">{props.target === "_blank" ? "↗" : "→"}</span>
</a>
