---
import { Icon } from "astro-icon";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a"> & {
  reverse?: boolean;
};

const props = Astro.props;
---

<style>
  .icon {
    width: 1em;
    display: flex;
    align-self: center;
    user-select: none;
  }

  .reverse {
    transform: translateX(-2px) rotate(225deg);
  }
</style>

<a {...props}>
  {props.reverse && <Icon class="icon reverse" name="uim:arrow-up-right" />}
  <slot />
  {!props.reverse && <Icon class="icon" name="uim:arrow-up-right" />}
</a>
