---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const props = Astro.props;
---

<style>
  a {
    text-decoration: none;
    gap: 0.25ch;
  }

  .underline {
    text-decoration: underline;
    text-decoration-thickness: from-font;
    font-size: 1em;
  }

  .icon {
    user-select: none;
  }
</style>

<a {...props}>
  <span class="underline">
    <slot />
  </span>
  <span class="icon">{"↗"}</span>
</a>
