---
import { Icon } from "astro-icon";
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const props = Astro.props;
---

<style>
  .icon {
    width: 1em;
    display: flex;
    align-self: center;
    user-select: none;
  }
</style>

<a {...props}>
  <slot />
  <Icon class="icon" name="uim:arrow-up-right" />
</a>
