---
import Container from "./Container.astro";
import Link from "./Link.astro";
import Logo from "./Logo.astro";
import ThemeSwitch from "./ThemeSwitch.astro";
---

<style>
  .navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: var(--navbar-background);
    -webkit-backdrop-filter: blur(1rem);
    -moz-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
  }

  .navbar a:has(.logo) {
    display: flex;
  }

  .navbar .logo {
    width: initial;
    margin: 0;
  }

  .navbar .center {
    width: var(--container-width);
    padding: var(--spacing-micro) 0px;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
  }

  .navbar .links {
    display: flex;
    gap: var(--spacing-micro);
  }

  .navbar-placeholder {
    height: 80px;
  }
</style>

<nav class="navbar">
  <Container>
    <div class="center">
      <a href="/" aria-label="Home">
        <Logo />
      </a>
      <div class="links">
        <Link href="/#about">About</Link>
        <Link href="/#work">Work</Link>
        <Link href="/#blog">Blog</Link>
        <ThemeSwitch />
      </div>
    </div>
  </Container>
</nav>

<div class="navbar-placeholder"></div>
