---
type Props = {
  name: string;
};

const props = Astro.props;

function slugify(text: string) {
  return text.replace(/\s/g, "-").toLowerCase();
}
---

<style>
  span {
    color: var(--disabled-foreground);
    margin-left: var(--spacing-pico);
  }

  span::before {
    content: "#";
  }
</style>

<span>{slugify(props.name)}</span>
