---
import Icon from "astro-icon";
type Props = {
  name: string;
};

const tag = Astro.props;
---

<style>
  a {
    display: inline-flex;
    margin-left: var(--spacing-micro);
  }

  .icon {
    width: 1em;
    user-select: none;
    margin-right: 2px;
  }
</style>

<a href={`/blog?tag=${tag.name}`} class="tag">
  <Icon class="icon" name="uil:tag-alt" />{tag.name}
</a>
