---
import Icon from "astro-icon";
---

<style>
  #toggle {
    display: flex;
    align-self: center;
    height: 1em;
    width: 1em;
    border: none;
    background: none;
    cursor: pointer;
  }

  .sun,
  .moon,
  .sunset {
    color: var(--foreground);
  }

  .sun {
    display: none;
  }

  .moon {
    display: none;
  }

  .sunset {
    display: initial;
  }

  :global(.light) .sun {
    display: initial;
  }

  :global(.light) .moon {
    display: none;
  }

  :global(.light) .sunset {
    display: none;
  }

  :global(.dark) .sun {
    display: none;
  }

  :global(.dark) .moon {
    display: initial;
  }

  :global(.dark) .sunset {
    display: none;
  }
</style>

<button id="toggle" name="switch" aria-label="switch">
  <Icon name="uil:sun" class="sun" />
  <Icon name="uil:moon" class="moon" />
  <Icon name="uil:sunset" class="sunset" />
</button>

<script>
  const toggle = document.getElementById("toggle");
  const theme = localStorage.getItem("theme") || "system";

  switch (theme) {
    case "system":
      document.documentElement.classList.remove("dark");
      document.documentElement.classList.remove("light");

      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        document.documentElement.classList.add("dark-system");
      } else {
        document.documentElement.classList.remove("dark-system");
      }
      break;
    case "light":
      document.documentElement.classList.remove("dark");
      document.documentElement.classList.add("light");
      break;
    case "dark":
      document.documentElement.classList.remove("light");
      document.documentElement.classList.add("dark");
      break;
  }

  toggle?.addEventListener("click", () => {
    const theme = localStorage.getItem("theme") || "system";

    switch (theme) {
      case "system":
        // Change to 'light'
        document.documentElement.classList.remove("dark");
        document.documentElement.classList.remove("dark-system");
        document.documentElement.classList.add("light");
        localStorage.setItem("theme", "light");
        break;
      case "light":
        // Change to 'dark'
        document.documentElement.classList.remove("light");
        document.documentElement.classList.add("dark");
        localStorage.setItem("theme", "dark");
        break;
      case "dark":
        // Change to 'system'
        document.documentElement.classList.remove("dark");
        document.documentElement.classList.remove("light");

        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          document.documentElement.classList.add("dark-system");
        } else {
          document.documentElement.classList.remove("dark-system");
        }

        localStorage.removeItem("theme");
        break;
    }
  });

  window
    .matchMedia("(prefers-color-scheme: dark)")
    .addEventListener("change", (evt) => {
      if (localStorage.getItem("theme")) return;

      document.documentElement.classList.remove("light");
      document.documentElement.classList.remove("dark");

      if (evt.matches) {
        document.documentElement.classList.add("dark-system");
      } else {
        document.documentElement.classList.remove("dark-system");
      }
    });
</script>
