.container {
  max-width: var(--container-width);
  margin: 0px auto;
}

.logo {
  filter: invert(var(--color-inversion));
}

.header {
  display: flex;
  align-items: center;
}

.header .text {
  flex: 2;
}

.header.text h2 {
  color: var(--disabled-foreground);
}

.header .image {
  flex: 1;
}

.projects-grid {
  margin-bottom: var(--spacing-minor);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-minor);
}

.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  margin-top: var(--spacing-major);
}
