:root,
html.light {
  --font-family: "Google Sans", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-family-code: "Google Sans Mono", ui-monospace, SFMono-Regular, SF Mono,
    Menlo, Consolas, Liberation Mono, monospace;

  --color-inversion: 0;

  --font-size-normal: 1rem;
  --font-size-code: calc(var(--font-size-normal) - 2px);

  --font-size-heading-1: 2.5rem;
  --font-size-heading-2: 2rem;
  --font-size-heading-3: 1.75rem;
  --font-size-heading-4: 1.5rem;
  --font-size-heading-5: 1.25rem;
  --font-size-heading-6: 1rem;

  --transition-duration: 200ms;
  --border-radius: 5px;
  --container-width: 550px;
  --line-height: 1.6125;
  --navbar-height: 86.5px;

  --spacing-nano: 0.5rem;
  --spacing-micro: 1rem;
  --spacing-minor: 2rem;
  --spacing-major: 4rem;
  --spacing-maximum: 8rem;

  --color-black: #000000;
  --color-white: #ffffff;

  --color-red: #884444;
  --color-green: #779966;
  --color-yellow: #aa8844;
  --color-blue: #447799;
  --color-magenta: #666699;
  --color-cyan: #449999;

  --color-gray-0: #000000;
  --color-gray-1: #111111;
  --color-gray-2: #222222;
  --color-gray-3: #333333;
  --color-gray-4: #444444;
  --color-gray-5: #555555;
  --color-gray-6: #666666;
  --color-gray-7: #777777;
  --color-gray-8: #888888;
  --color-gray-9: #999999;
  --color-gray-10: #aaaaaa;
  --color-gray-11: #bbbbbb;
  --color-gray-12: #cccccc;
  --color-gray-13: #dddddd;
  --color-gray-14: #eeeeee;
  --color-gray-15: #ffffff;

  --foreground: var(--color-black);
  --background: var(--color-white);

  --text-foreground: var(--color-gray-4);
  --emphasized-foreground: var(--color-gray-0);
  --disabled-foreground: var(--color-gray-6);

  --code-foreground: var(--color-red);

  --soft-foreground: var(--color-gray-1);
  --soft-background: var(--color-gray-14);
  --soft-background-hover: var(--color-gray-13);

  --selection-background: #00000021;

  --navbar-background: #ffffffaa;

  --astro-code-color-text: var(--foreground);
  --astro-code-color-background: var(--soft-background);
  --astro-code-token-constant: var(--color-magenta);
  --astro-code-token-string: var(--color-blue);
  --astro-code-token-comment: var(--disabled-foreground);
  --astro-code-token-keyword: var(--color-red);
  --astro-code-token-parameter: var(--color-yellow);
  --astro-code-token-function: var(--color-magenta);
  --astro-code-token-string-expression: var(--color-blue);
  --astro-code-token-punctuation: var(--foreground);
  --astro-code-token-link: var(--color-blue);
}

html.dark,
html.dark-system {
  --color-inversion: 1;

  --color-red: #aa6666;
  --color-green: #99bb88;
  --color-yellow: #ccaa66;
  --color-blue: #7799cc;
  --color-magenta: #8888bb;
  --color-cyan: #66bbbb;

  --foreground: var(--color-white);
  --background: var(--color-black);

  --text-foreground: var(--color-gray-11);
  --emphasized-foreground: var(--color-gray-15);
  --disabled-foreground: var(--color-gray-9);

  --soft-foreground: var(--color-gray-14);
  --soft-background: var(--color-gray-1);
  --soft-background-hover: var(--color-gray-2);

  --selection-background: #ffffff21;

  --navbar-background: #000000aa;
}

:target {
  scroll-margin-top: calc(80px + var(--spacing-minor));
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-size: 1rem;
  font-family: var(--font-family);
  line-height: var(--line-height);
}

*::selection {
  background: var(--selection-background);
}

html {
  background: var(--background);
  color: var(--foreground);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
blockquote,
figure,
img {
  margin-bottom: var(--spacing-minor);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
strong,
code {
  color: var(--foreground);
}

code {
  color: var(--color-red);
}

p,
ol,
ul,
blockquote,
figcaption,
header,
footer {
  color: var(--text-foreground);
}

blockquote p:last-child {
  margin-bottom: 0;
}

h1 {
  font-size: var(--font-size-heading-1);
}

h2 {
  font-size: var(--font-size-heading-2);
}

h3 {
  font-size: var(--font-size-heading-3);
}

h3 {
  font-size: var(--font-size-heading-3);
}

h4 {
  font-size: var(--font-size-heading-4);
}

h5 {
  font-size: var(--font-size-heading-5);
}

h6 {
  font-size: var(--font-size-heading-6);
}

a {
  display: inline-flex;
  height: fit-content;
}

code,
pre code,
pre code span {
  font-family: var(--font-family-code);
  font-size: var(--font-size-code);
}

code::before,
code::after {
  content: "`";
}

pre code::before,
pre code::after {
  content: initial;
  color: initial;
}

img {
  user-select: none;
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

figcaption {
  text-align: center;
}

blockquote {
  background: var(--soft-background);
  border-radius: var(--border-radius);
  padding: var(--spacing-micro);
}

pre {
  border-radius: var(--border-radius);
  padding: var(--spacing-micro);
  margin-bottom: var(--spacing-minor);
}

ul {
  list-style: none;
  list-style-position: inside;
  padding-left: var(--spacing-minor);
}

ul li::before {
  content: "•";
  text-align: center;
  color: var(--foreground);
  font-weight: bold;
  font-size: inherit;
  display: inline-block;
  width: var(--spacing-minor);
  margin-left: calc(var(--spacing-minor) * -1);
}

section {
  margin-bottom: var(--spacing-major);
}

header {
  margin: var(--spacing-maximum) 0px;
}

article h2,
article h3,
article h4,
article h5,
article h6 {
  margin-top: var(--spacing-major);
}

@media screen and (max-width: calc(550px + 2rem)) {
  :root,
  html.light {
    --container-width: calc(100vw - 2rem);
  }
}
